<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
		<h1>Student Registration</h1>
		<hr>
		<h2>Save Student</h2>

		<form action="#" th:action="@{/saveStudent}" th:object="${Student}"
			method="POST">
			<input type="text" th:field="*{firstName}"
				placeholder="Student First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastName}"
				placeholder="Student Last Name" class="form-control mb-4 col-4">

                <input type="text" th:field="*{email}"
				placeholder="Student Email" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{password}"
				placeholder="Student password" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Save Student</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Student List</a>
	</div>
</body>
</html>