<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form> 
    <label for="AdminID"><b>Admin ID</b></label>
    <input type="text" placeholder="Enter Admin ID" name="AdminID" required><br>

    <label for="AdminPassword"><b>Admin Password</b></label>
    <input type="text" placeholder="Enter Password" name="AdminPassword" required><br>

    <input type="submit" value="Sign In"/>

    </form>

</body>
</html>