<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome to the home page!</h1>
        <a th:href="@{/Admin}">Admin page</a><br>
         <a th:href="@{/Login}">Student Login</a><br>
        <a th:href="@{/StudentReg}">Student Registration</a><br> 
        <a th:href="@{/Home}">Home page</a><br>

    </body>
</html>