<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form> 
        <label for="Name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="Name" required><br>
    
        <label for="Surname"><b>Surname</b></label>
        <input type="text" placeholder="Enter Surname" name="Surname" required><br>

        <label for="Address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="Address" required><br>
    
        <label for="Email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="Email" required><br>
    
        <label for="Password"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="Password" required><br>
    
        <label for="Course"><b>Course name</b></label>
        <input type="text" placeholder="Enter Course" name="Course" required><br>
        <input type="submit" value="Sign In"/>
    
    </form>
</body>
</html>